Header {
    text-style: bold;
}

#func_cat {
    align-horizontal: center;
    padding: 1;
}

#root {
    border: heavy $accent;
    padding: 0;
    outline: $accent round;
    layout: vertical;
}

FuncProgBar {
    height: auto;
    width: auto;
    padding: 1;
}

Horizontal {
    height: auto;
}

ProgressBar > Bar > .bar--bar {
    color: $accent;
}
Vertical {
    height: auto;
}